/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #333; /* Agrega un fondo para mejor contraste */
}

#canvas-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.dt-control-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border: 1px solid #404040;
    background: #222222;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.dt-tools-container {
    flex: 1;
    text-align: center;
    margin: 0 5px;
}
.dt-tools-container img {
    max-height: 50px;
    transition: all 0.2s;
    cursor: pointer;
}

.dt-tools-container img:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

#size {
    width: 40px;
    height: 30px;
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    background: #3d3d3d;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.dt-dc-container, .dt-cp-container, .dt-undo-redo-container, .dt-download-container {
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.dt-default-colors {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
}

.dt-default-colors div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.dt-cp-container {
    width: 24px;
    height: 24px;
}

.dt-color-picker {
    width: 20px;
    height: 20px;
    background: radial-gradient(circle, #ffffff 0%, transparent 100%),
                conic-gradient(from 0deg at 50% 50%, #ff0000 0%, #ffa800 47.73%, #ffff00 79.56%, #00ff00 121.33%, #00ffff 180.99%, #0000ff 238.67%, #ff00ff 294.36%, #ff0000 360deg);
}

/* Ajustes para dispositivos móviles */
@media (max-width: 600px) {
    .dt-tools-container img {
        max-height: 40px;
    }
    
    #size {
        width: 35px;
        height: 25px;
        font-size: 14px;
    }

    .dt-default-colors, .dt-cp-container {
        width: 20px;
        height: 20px;
    }

    .dt-default-colors div {
        width: 16px;
        height: 16px;
    }

    .dt-color-picker {
        width: 16px;
        height: 16px;
    }
}

@media (max-width: 400px) {
    .dt-tools-container img {
        max-height: 30px;
    }

    #size {
        width: 30px;
        height: 20px;
        font-size: 12px;
    }

    .dt-default-colors, .dt-cp-container {
        width: 18px;
        height: 18px;
    }

    .dt-default-colors div {
        width: 14px;
        height: 14px;
    }

    .dt-color-picker {
        width: 14px;
        height: 14px;
    }
}
